html {
    margin-left: 5%;
    margin-right: 5%;
    background: #9fa0a0;
}

body {
    background: #fcfcdb;
}

h1, h2 {
    font-size: 60px;
    color: #fcfcdb;
    text-align: center;
    margin-top: 15px;
    background: #9fa0a0;
}

/* Login Button and Form */
#login, #register {
    font: sans-serif;
    color: #1e1e1e;
    background: #189ff4;
    font-size: 50px;
    border: none;
    border-radius: 10%;
    display: block;
    margin: 15px;
    width: 190px;
    text-decoration: None;
}

  
.form-popup {
    display: none;
}

.form-container {
    max-width: 500px;
    margin-left: 15%;
    background-color: #9fa0a0;
    color: #fcfcdb;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container .btn {
    background-color: green;
    padding: 16px 20px;
    border: none;
    margin-bottom: 15px;
    width: 100%;
    font-size: 30px;
    color: #fcfcdb;
}


.form-container .cancel {
    background-color: red;
}


/* Error Message when Logging in */
#error {
    color: red;
    font-size: 50px;
    text-align: center;
}

/* Logout Button */
.logout .btn {
    font-size: 35px;
    color: #1e1e1e;
    background: #189ff4;
    border: none;
    border-radius: 10%;
    position: fixed;
    opacity: 0.5;
    transition-duration: 1s;
}

.logout .btn:hover {
    color: white;
    opacity: 1;
}

/* Table design */
table {
    border: 5px #9fa0a0 solid;
    margin: 15px;
    text-align: center;
}

td, th {
    border: 1px #9fa0a0 solid;
}

/* Register Page */
.input_space {
    margin-bottom: 100px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

#button {
    position: relative;
    top: 400px;
    float: right;
}

#patient {
    top: 400px;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9fa0a0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
  }
  
  li a:hover:not(.on) {
    background-color: #189ff4;
    transition-duration: 1s;
  }
  
  .on {
    background-color: #189ff4;
    color: white;
  }